<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<head>
<title>ユーザー情報一覧</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">
<link rel="stylesheet" th:href="@{/css/index.css}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<meta charset="utf-8" />
</head>
<body>
  <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]さん!</h3>
    <form th:action="@{/afterLogout}" method="post">
      <input type="submit" value="サインアウト"/>
    </form>
    <h1>レビュー一覧</h1>
    <a class="fa-solid fa-hand-point-up" href="/album/new">投稿する</a>
    <table>
        <thead>
            <tr>
                <th>アーティスト名</th>
                <th>アルバムタイトル</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="album : ${album}" th:object="${album}">
                <td th:text="*{artist}"></td>
                <td th:text="*{title}"></td>
                <td>
                  <a class="fa-sharp fa-solid fa-folder-open fa-2x" th:href="@{/album/{id}(id=*{id})}">参照</a>
                  <a class="fa-sharp fa-solid fa-pen fa-2x" th:href="@{/album/edit/{id}(id=*{id})}">編集</a>
                  <a class="fa-sharp fa-solid fa-xmark fa-2x" th:href="@{/album/delete/{id}(id=*{id})}">削除</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>