<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Person</title>
  </head>
<body>
  <div class="container">
    <h1>情報詳細</h1>
    <div th:object="${albumData}">
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">アーティスト</div>
        <div class="col pt-3 border">
          <p th:text="*{artist}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
      <div class="col-2 pt-3 border bg-light">アルバム名</div>
        <div class="col pt-3 border">
          <p th:text="*{title}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">得点</div>
        <div class="col pt-3 border">
          <p th:text="*{score}"></p>
        </div>
      </div>
      <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">感想</div>
        <div class="col pt-3 border">
          <p th:text="*{body}"></p>
        </div>
      </div>
    </div>
    <br />
      <a href="/" class="btn btn-primary">一覧に戻る</a>
      <a href="/comment/new" class="btn btn-secondary">コメントを書く</a>
  </div>

    <h1>コメント一覧</h1>
    <table>
      <thead>
        <tr>
          <th>コメント</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="comment : ${comment}" th:object="${comment}">
          <td th:text="*{comment}"></td>
        </tr>
      </tbody>
    </table>
</body>